MONGO_URI=mongodb://localhost:27017/petshop-db  
PORT=3001 
JWT_SECRET=SALEHEDDINETOUIL # Replace with a strong, random secret 
NODE_ENV=development # Or production
EMAIL_HOST=your_email_host
EMAIL_USER=your_email_user
EMAIL_PASSWORD=your_email_password
STRIPE_SECRET_KEY=your_stripe_secret_key # Replace with your Stripe secret key